@font-face {
    font-family: 'narutofont';
    src: url('../fonts/naruto.ttf') format('truetype');
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spacer {
    padding-top: 20px;
}