header {
        display: flex;
        justify-content: space-between;
        background-color: red;

        ul {
            display: flex;
            text-align: center;
            gap: 30px;

            button {
                border: none;
                background-color: transparent;
            }
        }
}